/* Set default styling for the entire document */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

/* Styling for the header section */
header {
    text-align: center;
    background-color: #CC0000;
    padding: 20px 0;
}

/* Styling for the main headings */
h1 {
    margin: 0;
    color: #fff;
}

h2 {
    margin: 0;
    color: #fff;
}

/* Styling for the main content section */
main {
    padding: 20px;
}

/* Styling for the container holding the upload content */
#uploadContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align content */
}

/* Styling for the main heading inside the upload container */
#uploadContainer h1 {
    font-size: 28px; /* Increase font size */
    margin-bottom: 20px; /* Add space at the bottom */
}

/* Styling for the overlay options */
.overlay-option {
    text-align: center;
}

.overlay-option img {
    width: 100px;
    height: 100px;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.overlay-option img:hover {
    border-color: #CC0000;
}

/* Styling for the generate button */
#generateButton {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #CC0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#panLeftButton {
    display: inline;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#panRightButton {
    display: inline;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#panUpButton {
    display: inline;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#panDownButton {
    display: inline;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
#zoomInButton {
    display: inline;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
#zoomOutButton {
    display: inline;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

/* Styling for the result container */
#resultContainer {
    text-align: center;
    display: none;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styling for the result image */
#resultImage {
    max-width: 300px;
    margin-bottom: 10px;
    border: 2px solid #CC0000;
    border-radius: 5px;
}

/* Styling for the download button */
#downloadButton {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #CC0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styling for the share button */
#shareButton {
    display: block;
    margin: 20px auto; /* Add margin for spacing */
    width: 160px; /* Set a fixed width */
    background-color: #25D366; /* WhatsApp green color */
    color: white;
    padding: 10px 0; /* Adjust padding for vertical centering */
    text-align: center; /* Center text horizontally */
    text-decoration: none;
    border: none; /* Remove border */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition effect */
}

#shareButton:hover {
    background-color: #128C7E; /* Darker shade on hover */
}

/* Styling for the bottom image */
#bottomImage {
    width: 100%; /* Make the image responsive */
    max-width: 100%; /* Set maximum width to window width */
    height: auto; /* Maintain aspect ratio */
    margin: 20px auto; /* Add margin for spacing */
    display: block;
}

/* Styling for the footer section */
footer {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px 0;
}

/* Styling for the paragraph text within the footer */
footer p {
    margin: 0;
    padding: 0 20px; /* Add padding on the sides */
}
